@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Inter:wght@400;500;600;700;800&amp;family=Poppins:wght@400;500;600;700;800&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.sans_font {
    font-family: 'DM Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #292930;
    --secondery: #EC5623;
    --blue: #171648;
    --green: #62B3AB;
    --header: #656464;
}

/*============= color ==============*/
.grey_color {
    color: var(--primary);
}

.orange_color {
    color: var(--secondery);
}

.blue_color {
    color: var(--blue);
}

.green_color {
    color: var(--green);
}

.head_color {
    color: var(--header);
}

/*============= font-weight ==============*/
.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

/*============= font-size ==============*/
.fs_16 {
    font-size: 16px;
}

.fs_18 {
    font-size: 18px;
}

.fs_20 {
    font-size: 20px;
}

.fs_24 {
    font-size: 24px;
}

.fs_32 {
    font-size: 32px;
}

.fs_40 {
    font-size: 40px;
}

.fs_48 {
    font-size: 48px;
}

.fs_60 {
    font-size: 60px;
}

.fs_96 {
    font-size: 96px;
}

/*=============== header ===================*/
header ul li a {
    font-family: 'Poppins', sans-serif;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--primary);
}

header ul li a.active {
    color: var(--primary);
}

button.navbar-toggler img {
    width: 30px;
}

.contact_us {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 180px;
    background-color: var(--secondery);
    border-radius: 20px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*======================== banner =====================*/
.banner {
    background: url(../img/banner-bg.png);
    background-size: 100% 95%;
    background-repeat: no-repeat;
    height: 805px;
    padding-top: 120px;
}

img.left-line1 {
    position: absolute;
    bottom: -29px;
}

img.left-line2 {
    position: absolute;
    bottom: 43px;
}

img.right-line1 {
    position: absolute;
    right: 0;
    bottom: 129px;
}

img.right-line2 {
    position: absolute;
    right: 0;
    bottom: 149px;
}

img.right-line3 {
    position: absolute;
    right: 0;
    bottom: 245px;
}

.educational_div {
    background: rgb(119, 201, 202, 10%);
    width: 272px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
}

.content_wapper h2 {
    line-height: 99px;
    position: relative;
}

.content_wapper h2::before {
    content: '';
    background-color: #5956E9;
    width: 72px;
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -17px;
}

.main-banner {
    width: 50%;
}

/*======================== classlet =====================*/
.classlet-text {
    width: 80%;
    height: 41px;
    background: var(--green);
    border-radius: 40px;
}

.classlet-wapper h2 {
    width: 100%;
}

.classlet-wapper ul li::marker {
    font-size: 23px;
    color: var(--green) !important;
}

.classlet-wapper ul li {
    position: relative;
}

.classlet-wapper ul li::before {
    content: '';
    width: 12px;
    height: 12px;
    background: rgb(119, 201, 202, 10%);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -22px;
    top: 13px;
    z-index: -1;
}

.first-video {
    position: absolute;
    bottom: 0px;
    right: -70px;
    width: 62%;
    height: 217px;
    object-fit: cover;
    border-radius: 13px;
}

.first-video #frame {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    object-fit: cover;
}

.second-img {
    position: absolute;
    left: -120px;
    top: 20px;
    width: 62%;
    height: 217px;
    object-fit: cover;
    border-radius: 13px;
}

.second-img img {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    object-fit: cover;
}

.classlet {
    margin-top: 150px;
}

.main-img img {
    position: absolute;
    right: 0;
}


/*===================== tech =========================*/
.tech {
    background: linear-gradient(90deg, #F6F9FF 0%, rgba(236, 242, 246, 0) 70.31%);
    margin-top: 90px;
    padding: 45px 0 80px;
}

.sec-head h3 {
    color: #0A093D;
}

/*===================== tech =========================*/
.work {
    margin-top: 70px;
}

.work-main {
    background: url(../img/workbg.svg);
    padding: 120px 0;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.work_number p {
    width: 73px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #77C9C8;
    border-radius: 50%;
}

.arrow-img {
    position: absolute;
    left: 50%;
    right: 0;
    margin: auto;
    text-align: center;
    width: 50%;

}

.work_img {
    text-align: center;
    position: relative;
    padding-right: 80px;
}

.counter {
    position: absolute;
    top: calc(50% + 0px);
    right: 0;
}

.work_text p {
    color: #2F2C4A;
}

/* .work_img::before{
    content: '1';
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    right: 110px;
    top: calc(50% - 36px);
    background: #77C9C8;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .work_img::after{
    content: '';
    background: url(../img/Group\ 2.png);
    position: absolute;
    top: calc(50% + 70px);
    right: 83px;
    background-size: 42px;
    width: 60px;
    height: 400px;
    background-repeat: no-repeat;
}
.work_img2::before{
    content: '2';
    right: 40px;
}
.work_img2::after{
    content: '';
    background: url(../img/Group\ 1.png);
    position: absolute;
    top: calc(50% + 70px);
    right: 83px;
    background-size: 42px;
    width: 60px;
    height: 400px;
    background-repeat: no-repeat;
}
.work_img3::before{
    content: '3';
}
.work_img3::after{
    display: none;
} */
.common-margin {
    margin-top: 120px;
}

/*==================== feature ========================*/
.features {
    margin-top: 120px;
    background: url(../img/feature-bg.png);
    background-color: #fff;
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    padding-bottom: 120px;
}

img.laptop-img {
    position: absolute;
    left: -70px;
    top: -80px;
    width: 60%;
}

img.float-img {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 40%;
}

/* .feature-sec {
    margin-top: 120px;
} */

.box-feature {
    background: #FFFFFF;
    box-shadow: 14px 22px 52px -12px rgba(101, 100, 100, 0.15);
    border-radius: 14px;
    padding: 60px 40px;
    width: fit-content;
    margin-top: 80px;
}

.img-feature {
    margin-top: 80px;
}

.feature-text h3 {
    color: #1F1F26;
}

.feature-text p {
    color: #426666;
}

/*==================== topic ========================*/
.topic {
    background: url(../img/topic-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 87px;
    padding-bottom: 40px;
    margin-top: 140px;
}

.topic-box {
    background: #FFFFFF;
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
    border-radius: 14px;
    padding: 40px;
}

.topic-wapper h3 {
    color: #2F2C4A;
}

.topic-wapper.ms-3.ps-2 {
    margin-top: 10px;
}


/*==================== testinomail ================*/
.testimomial {
    background-color: #D8FAFC;
    padding: 132px 0;
}

img.test-coat {
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: .5;
    width: 5%;
}
img.thumb-test {
    position: absolute;
    top: 50%;
    left: 50px;
}
img.clap-testinomial {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 70%;
    width: 6%;
}
img.thumb2-test {
    position: absolute;
    right: 50px;
    top: 40%;
}
.testimomial .sec-head h3 {
    color: #1F1F26;
    z-index: 99999;
    position: relative;
}

.testimomial .sec-head p {
    color: #426666;
}

.testimonial-box {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgb(41 41 42 / 7%);
    border-radius: 8px;
    width: 40%;
    padding: 70px 30px 30px;
    height: 100%;
    min-height: 340px;
    position: relative;
}
img.box-quotes {
    position: absolute;
    top: 30px;
}
.testimomial-wapper{
    margin-top: 100px;
}
.testimomial-img{
    position: absolute;
    top: -70px;
    right: 30px;
}
.testimomial-img img{
    width: 131px;
    height: 131px;
    border-radius: 50%;
    object-fit: cover;
}

/*==================== faq ========================*/
.faq {
    margin-top: 150px;
}

.head-faq.sec-head img {
    width: 70%;
}

.faq-wapper h3::before {
    content: '';
    background-color: #000;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: -20px;
}
/*=============== footer =================*/
.footer{
    background-color: #20202D;
    padding: 23px 0;
}
.footer p{
    color: #F6F6F6;
    font-size: 14px;
}
.footer-img  img{
    width: 30%;
}
.main-icon {
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
/*============ get-app ================*/
.get-app{
    background-color: var(--secondery);
    margin: 150px 0 0;
}
.img-app img{
    width: 100%!important;
}
/*============== pop-over =====================*/
.historybox-wapper {
    background: #FFFFFF;
    box-shadow: 46.4707px 73.0254px 172.605px -39.832px rgba(101, 100, 100, 0.15);
    border-radius: 46.4707px;
    padding: 50px 30px;
    flex: 1;
}
#exampleModal .modal-dialog {
    max-width: 90%!important;
    margin: 1.75rem auto;
}
#exampleModal .modal-header{
    border-bottom: none;
    text-align: center!important;
    justify-content: center!important;
    display: block;
}
.pop-img img{
    margin: 16px;
    width: 100%;
}
.orange-wapper{
    background-color: var(--secondery);
    padding: 30px;
    border-radius: 17px;
}
.green-wapper{
    background-color: rgb(119, 201, 202, 24%);
    padding: 30px;
    border-radius: 17px;
}
.top-pophead{
    min-height: 101px;
}

@media only screen and (min-width:1760px){
    .work-main{
        background-position: bottom -80px right;
    }
}
@media only screen and (min-width:1950px){
    .work-main{
        background-position: bottom -180px right;
    }
}
@media only screen and (min-width:2260px){
    .work-main{
        background-position: bottom -260px right;
    }
}

@media only screen and (max-width:1400px) {
    header .ps-4 {
        padding-left: .5rem !important;
    }

    .contact_us {
        height: 62px;
        width: 140px;
    }

   .work_img .counter {
    right: -50px;
}
}

@media only screen and (max-width:1200px) {
    .fs_96 {
        font-size: 90px;
    }

    .contact_us {
        height: 42px;
        width: 100px;
    }

    header .fs_16 {
        font-size: 14px;
    }

    .second-img {
        left: -79px;
        top: -10px;
        width: 56%;
    }

    .classlet-img .mobile-img {
        width: 80%;
    }

    /* .first-video{
        width: 60%;
        height: 187px;
        object-fit: cover;
        border-radius: 13px;
        right: 0;
    } */
    .fs_60 {
        font-size: 50px;
    }

    .work_img .counter {
        right: -80px;
    }

    .topic-box {
        height: 100%;
    }

    .fs_48 {
        font-size: 40px;
    }
}

@media only screen and (max-width:1130px) {
    .first-video {
        bottom: 0px;
        right: -10px;
        width: 52%;
        height: 197px;
    }

    .second-img {
        width: 52%;
        height: 197px;
        left: -80px;
    }
}

@media only screen and (max-width:991px) {
    .banner {
        padding-top: 60px;
        height: 1200px;
    }
.pop-main{
    flex-direction: column;
}
    .main-banner {
        width: 100%;
    }

    .left_line {
        display: none;
    }

    /* .second-img {
        height: 217px;
    }
    .first-video {
        height: 217px;
    } */
    .classlet {
        margin-top: 80px;
    }

    .work-main .work_img .counter{
        display: none;
    }

    .work_img img{
        width: 100%;
    }

    .work-main {
        padding: 80px 0;
        margin-top: 70px;
    }

    .topic-box {
        padding: 20px;
    }

    .topic {
        padding-top: 45px;
        margin-top: 70px;
    }

    .tech {
        margin-top: 70px;
    }

    .topic .sec-head{
        margin-bottom: 36px !important;
        padding-bottom: 0px !important;
    }

    .head-faq.sec-head img {
        width: 100%;
    }

    .faq {
        margin-top: 70px;
    }

    #topdiv{
        order: 1;
    }

    #bottomdiv{
        order: 2;
    }

    .features {
        margin-top: 70px;
        padding-bottom: 0;
    }

    .testimomial {
        padding: 45px 0;
    }

    .testimomial-wapper {
        flex-direction: column;
    }

    .testimonial-box {
        width: 100%;
    }

    .testi-box-sec{
        margin-top: 100px;
    }

    .get-app .fs_48 {
        font-size: 32px;
    }

    .get-app {
        margin: 70px 0 0;
    }

    .footer-img img {
        width: 50%;
    }

    .social-media {
        justify-content: end;
    }
}

@media only screen and (max-width:800px) {
    .banner {
        padding-top: 60px;
        height: 1020px;
    }
}

@media only screen and (max-width:767px) {
    .second-img {
        height: 155px;
        width: 52%;
        left: -40px;
    }

    .first-video {
        height: 155px;
    }

    .second-img {
        top: 30px;
    }

    .fs_48 {
        font-size: 35px;
    }

    .work_img img {
        width: 60%;
    }

    .work_img {
        padding-right: 0px;
    }

    .work-main .work_text{
        text-align: center;
        padding-top: 30px;
    }

    .common-margin {
        margin-top: 60px;
    }

    .head-faq.sec-head img {
        width: 60%;
    }

    .faq .head-faq.sec-head{
        text-align: center;
    }

    .faq .faq-wapper{
        text-align: center;
    }

    .faq-wapper h3::before {
        display: none;
    }

    .get-app .head-faq {
        padding-top: 45px;
        text-align: center;
    }

    .get-app .img-app{
        justify-content: center;
    }

    .copywright-sec{
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .banner {
        padding-top: 60px;
        height: 940px;
    }
}
@media only screen and (max-width:600px){
    .pop-img img{
        margin:10px  0;
    }
}
@media only screen and (max-width:575px) {
    .banner {
        padding-top: 60px;
        height: 910px;
    }

    .classlet {
        margin-top: 30px;
        margin-bottom: 60px !important;
    }
    #exampleModal .modal-dialog {
        max-width: 97%!important;
        margin: 1.75rem auto;
    }
    
    .classlet-img .mobile-img {
        width: 70%;
    }

    .second-img {
        height: 141px;
        width: 44%;
        left: -15px;
    }

    .first-video {
        height: 141px;
        width: 44%;
    }
}



@media only screen and (max-width:500px) {
    .second-img {
        height: 141px;
        width: 44%;
        left: -5px;
    }

    .first-video {
        height: 141px;
        width: 44%;
        right: 0px;
    }

    .topic-wapper{
        margin: 0px !important;
    }

    .topic-box .history-sec{
        flex-direction: column;
        text-align: center;
    }

    .footer-img img {
        width: 40%;
        margin: auto;
    }
    .green-wapper, .orange-wapper {
        padding: 10px;
    }
}

@media only screen and (max-width:450px) {
    .fs_96 {
        font-size: 70px;
    }

    .content_wapper h2 {
        line-height: 79px;
    }

    .banner {
        padding-top: 60px;
        height: 900px;
    }
    img.float-img {
        right: 0px;
        
    }
    .historybox-wapper {
        padding: 50px 16px;
    }
    .d-flex.top-pophead{
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width:443px){
    .fs_48 {
        font-size: 28px;
    }

    .fs_40 {
        font-size: 34px;
    }

    .fs_32 {
        font-size: 28px;
    }

    .text-footer{
        text-align: center;
    }
}

@media only screen and (max-width:380px) {
    .fs_96 {
        font-size: 50px;
    }

    .content_wapper h2 {
        line-height: 59px;
    }

    .second-img {
        height: 101px;

    }

    .first-video {
        height: 101px;

    }

    .tech .img img{
        width: 60%;
    }

    .work .sec-head .img img{
        width: 60%;
    }

    .topic-box {
        padding: 10px;
    }

    .fs_24 {
        font-size: 22px;
    }

    .fs_16 {
        font-size: 15px;
    }
}

.text-footer, .footer-img, .social-media{
    flex: 1;
}
